@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
main {
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DEE9F3;
    background-color: #AB77D7;
	
}
header, nav, section, main, footer{
    width:90%;
    text-align:center;
    margin: 0 auto;
	
  
}

header  {
    background-color: #4682B4;
    width: 90%;
    color: #F5DEDE;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
}
section{
	align-content: center;
	margin-bottom: 40px;
    background-color: #1BBFBF;
    border: 5px solid #F5DEDE;
    width: 60%;
}
footer h5 {
    margin-top: auto;
    width:auto;
    color:aliceblue;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: oblique;
    list-style-position:inside;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul {
    height: 30px;
}
nav ul li {
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 30px;
 
}
nav   {
    background-color:lightcoral;
    margin: 0 auto;
    padding: 0 auto;
    height: 120px;
}
footer {
    height: 100px;
	background-color:lightcoral;
    
}
a:link{
	color:moccasin;
	text-decoration: none;
}
a:visited{
	color:#F5DEDE;
	font-weight: bolder;
}
a:hover{
	color:#57CDD9;
	font-weight: bolder;
	text-decoration: none;
}


.contenedor_flex{
background-color:steelblue;
	display: flex;	
}
.contenedor_flex > div, .contenedor_flex-1 > div,.contenedor_flex-2 > div,.contenedor_flex-3 > div,.contenedor_flex-4 >div,.contenedor_flex-5 > div,.contenedor_flex-6 >div,.contenedor_flex-7 >div{
	width: 400px;
	height: 50px;
	background-color:lightskyblue;
	margin: 10px;
	padding: 30px;
	font-size: 32px;
	text-align: center;
}
.contenedor_flex-1{
	background-color:steelblue;
	display: flex;
	flex-direction: column-reverse;
}

.contenedor_flex-1 > div{
	width: 20%;
}
.contenedor_flex-3 > div{
	width: 200px;
}
.contenedor_flex-4 > div{
	height:auto;
}
.contenedor_flex-5 > div{
	width: 100px;
	height: auto;
}
.contenedor_flex-6 > div{
	width: auto;
}
.contenedor_flex-7 > div{
	width: 200px;
	height: 200px;
}
.contenedor_flex-2{
	background-color:steelblue;
	display: flex;	
	flex-wrap:wrap;
}
.contenedor_flex-3{
	background-color:steelblue;
	display: flex;
	justify-content:space-between;
}
.contenedor_flex-4{
	background-color:steelblue;
	display: flex;	
	height: 300px;
	align-items:stretch;
}
.contenedor_flex-5{
	background-color:steelblue;
	display: flex;
	height:auto;
	align-items: baseline;
}
.contenedor_flex-6{
	background-color:steelblue;
	display: flex;
	height:auto;
	flex-wrap: wrap;
	align-content:space-around;
}
.contenedor_flex-7{
	background-color:steelblue;
	display: flex;	
	height: 300px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.contenedor_flex-8{
	display: flex;	
	text-align: center;
	justify-content: center;
	align-items: center;
}
